@import url("https://fonts.googleapis.com/css?family=Bangers&display=swap");
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,800&display=swap');
@import url("./typography.css");
@import url("./global.css");

@tailwind base;

@tailwind components;

@tailwind utilities;

