html {
    @apply font-spiderman;
}

h1,
h2 {
    @apply font-hulksmash;
    @apply leading-loose;
    @apply tracking-wider;
}

/* h3,
p,
small {
  @apply font-spiderman;
} */

/* Target the H1 of all pages that have a class that starts with page */
[class^='page-'] h1 {
    font-size: 80px;
    /* background: -webkit-linear-gradient(rgb(208, 80, 80), rgb(191, 0, 0)); */
    background: #111;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-color: #000;
    -webkit-text-stroke-width: 4px;
    text-align: center;
}

h2.group-title {
    font-size: 40px;
    line-height: 1;
    --flow: 0.5em;
}

.section-title {
    @apply text-4xl text-center;
}

